// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0ca4c7; // Example primary color from the image
$secondary: #02779e; // Example secondary color from the image
$background: linear-gradient(
  to bottom,
  #e0f7fa,
  #ffffff
); // Example background color from the image
$text: #005662;

$accent: #e91e63;

$dark: #2c003e;
$dark-page: #1a001f;

$positive: #9c27b0;
$negative: #e040fb;
$info: #ce93d8;
$warning: #f48fb1;

// для тем

$primary: #0ca4c7 !default;
$secondary: #02779e !default;
$accent: #e91e63 !default;
$dark: #2c003e !default;
$dark-page: #1a001f !default;
$positive: #9c27b0 !default;
$negative: #e040fb !default;
$info: #ce93d8 !default;
$warning: #f48fb1 !default;
$background: linear-gradient(to bottom, #e0f7fa, #ffffff) !default;
$text: #005662 !default;
